body{
    background:#072348;
background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    font-family: 'Mountains of Christmas', cursive;
    color:#fff;
    text-align:center;
    -webkit-animation:snow 25s linear infinite;
    -moz-animation:snow 25s linear infinite;
    -o-animation:snow 25s linear infinite;
    animation:snow 25s linear infinite;
}
#title{
    margin-top:20vh;
    font-size:3.4em;;
}
.box{
    width:12vw;
    height:25vh;
    display:inline-block;
    border:0.5rem solid white;
    background:-webkit-repeating-linear-gradient(-55deg,
        rgba(221, 72, 72, 0.1), 
        rgba(221, 72, 72, 0.1) 5px,
        rgba(255, 255, 255, 0.2) 5px, 
        rgba(255, 255, 255, 0.2) 10px);
    );
    background:-moz-repeating-linear-gradient(-55deg,
        rgba(221, 72, 72, 0.1), 
        rgba(221, 72, 72, 0.1) 5px,
        rgba(255, 255, 255, 0.2) 5px, 
        rgba(255, 255, 255, 0.2) 10px);
    );
    background:-o-repeating-linear-gradient(-55deg,
        rgba(221, 72, 72, 0.1), 
        rgba(221, 72, 72, 0.1) 5px,
        rgba(255, 255, 255, 0.2) 5px, 
        rgba(255, 255, 255, 0.2) 10px);
    );
    background:repeating-linear-gradient(-55deg,
        rgba(221, 72, 72, 0.1), 
        rgba(221, 72, 72, 0.1) 5px,
        rgba(255, 255, 255, 0.2) 5px, 
        rgba(255, 255, 255, 0.2) 10px);
    );
}
.date{
    font-size:6vw;
}
.postfix{
    font-size:2vw;
}
@-webkit-keyframes snow{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% { background-position: 500px 500px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% { background-position: 500px 500px, 400px 400px, 300px 300px;}
}
@-o-keyframes snow{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% { background-position: 500px 500px, 400px 400px, 300px 300px;}
}
@keyframes snow{
    0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% { background-position: 500px 500px, 400px 400px, 300px 300px;}
}
@media (max-width: 768px) { 
    .date{
        font-size:10vw;
    }
    .box{
        width:20vw;
        height:30vh;
    }
    .postfix{
        font-size:3vw;
    }
}